.navbar{
  height: 60px;
  background-color:cyan;
  opacity: 0.7;
}

.navigator{
  background-color:cyan;
  width: 400px;
  display: flex;
  justify-content: space-around;
}


/* .post{
  display: flex;
  margin: 10px;
} */

/* .postCard{
  margin: 20px;
  display: flex;
} */

.home{
  width: 50%;
  border: 5px solid cyan;
  margin: 50px auto; 
  text-align: center;
}

.form{
  border: 3px solid cyan ;
  margin: 20px auto;
  width: 300px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  width: fit-content;
  font-family:serif;
}

.formBig{
  border: 3px solid cyan ;
  margin: 50px auto;
  width: 150px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  width: fit-content;
  font-family:serif;
}

.formBig h4{
  font-family:serif;
  text-align: center;
}

.kacang{
  text-align: center;
  margin-top: 20px;
}

